body {
  margin: 0;
  background: url(https://i.pinimg.com/originals/c2/78/5d/c2785d223e6ef0a1eebf7cb64a38db53.jpg);
  background-size: cover;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container {
  display: flex;
  justify-content: center;
  gap: 0;
  align-items: center;
}